.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* App.css */
.header {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  background-color: #007BFF;
  padding: 10px;
}

.header-feed,
.header-profile {
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  margin: 0 20px; /* Add some horizontal margin for spacing */
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.header-feed:hover,
.header-profile:hover {
  background-color: #0056b3;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header-feed,
.header-profile {
  text-decoration: none;
  font-size: 24px; /* Increase the font size for the header links */
  color: #007BFF;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

.header-feed:hover,
.header-profile:hover {
  background-color: #ccc;
  color: #007BFF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

